@import "../../sass/main.scss";

.Homes {
  grid-area: homes;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  padding: 10rem 10rem;
  grid-gap: 5rem;
  justify-content: center;

  @include breakpoints(tab-land) {
    padding: 4rem 0;
  }
}
