@import "../../sass/main.scss";

.HomeCard {
  display: grid;
  grid-template-rows: 26.6rem 1fr 0.4fr;
  width: 40rem;
  height: 55rem;
  background-color: $color-grey-light-1;
  border-radius: 3px;

  .ImageContainer {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1rem;
      fill: $color-primary;
      width: 3rem;
      height: 3rem;
    }

    .Image {
      width: 100%;
    }

    .HouseName {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-grey-light-1;
      background-color: $color-secondary;
      width: 80%;
      text-align: center;
      padding: 1.8rem 0;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .InfoContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    column-gap: 5rem;
    margin-top: 4rem;

    svg {
      fill: $color-primary;
      width: 2.3rem;
      height: 2.3rem;
      margin-right: 1rem;
    }

    .Info {
      display: flex;
      align-items: center;
      span {
        font-size: 1.6rem;
      }
    }
  }

  .Contact {
    background-color: darken($color-primary, 10%);
    color: $color-grey-light-1;
    border: none;
    font-size: 1.8rem;
    // letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
  }
}
