@import "./sass/main.scss";

.Container {
  height: 100vh;
  display: grid;
  grid-template-columns: 8rem 2fr 1fr;
  grid-template-areas:
    "side header realtors"
    "side features features"
    "side story story"
    "side homes homes"
    "side gallery gallery"
    "side footer footer";

  @include breakpoints(mid-tab) {
    grid-template-areas:
      "side header header"
      "side realtors realtors"
      "side features features"
      "side story story"
      "side homes homes"
      "side gallery gallery"
      "side footer footer";
  }

  @include breakpoints(tab-port) {
    grid-template-rows: 6rem auto;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "side side"
      "header header"
      "realtors realtors"
      "features features"
      "story story"
      "homes homes"
      "gallery gallery"
      "footer footer";
  }
}
